name: Continuous Deployment

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /opt/bots/portfolio_bot
                   
            # Sync Files
            git pull origin master
            
            # Update Environment
            ./venv/bin/pip install -r requirements.txt
            
            # Restart Service
            sudo systemctl restart portfolio_bot.service
            systemctl is-active portfolio_bot.service